# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Visual Studio / Rider
.vs/
*.csproj
*.sln
*.suo
*.tmp
*.user
*.userprefs

# Mac junk
__MACOSX/
.DS_Store
*.DS_Store

# Crash logs
mono_crash.*
